@model LoginViewModel
@{
	ViewData["Title"] = "Login";
    ViewData["HideFooter"] = true;
}


<div class="container">
    <div class="d-flex align-items-center justify-content-center js-fullheight">
        <div class="col-3">
            <div class="login-box">
                <div class="card card-outline card-primary">
                    <div class="card-header text-center">
                        <b>Login</b>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

                            <div class="mb-3">
                                <div class="input-group">
                                    <input asp-for="Username" class="form-control" placeholder="Username" />
                                    <span asp-validation-for="Username" class="text-danger small"></span>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="input-group">
                                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger small"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8">
                                    <a asp-controller="Home" asp-action="Index">Go to Home</a>
                                </div>
                            
                            <div class="col-4 ms-auto">
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
