@model CreateDepartmentModel
@{
	ViewData["Title"] = "Create Department";
}

<div class="row">
	<div class="col-6 offset-3">
		<h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
	</div>
</div>

<div class="row mt-3">
	<div class="col-6 offset-3">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger small"></div>
			<div class="input-group mb-3">
				<input asp-for="DepartmentName" class="form-control" placeholder="Department Name" />
				<button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Save</button>
				<span asp-validation-for="DepartmentName" class="text-danger small"></span>
			</div>
		</form>
	</div>
</div>