<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Doctor Appointment System</title>
    <link rel="icon" href="/images/dasfav.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/slider.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status" style="color: lightseagreen;">
            <span class="sr-only">Yükleniyor...</span>
        </div>
    </div>


    @{
        bool hideHeader = ViewData["HideHeader"] as bool? ?? false;
    }

    @if (!hideHeader)
    {

        <header class="mb-5">
            <nav class="navbar navbar-expand-lg navbar-dark bg-light sticky-top box-shadow">
                <div class="container">
                    <a class="navbar-brand" style="color:lightseagreen; font-weight: bolder; font-size: 25px;" asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="img-fluid" width="100px;" src="~/images/das.png" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 align-items-center">
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-size: 20px;" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-size: 20px;" asp-area="" asp-controller="Home" asp-action="Index">ABOUT US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-size: 20px;" asp-area="" asp-controller="Home" asp-action="Index">DEPARTMENTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="font-size: 20px;" asp-area="" asp-controller="Contact" asp-action="Index">CONTACTS</a>
                            </li>

                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("admin"))
                                {

                                    <li class="nav-item dropdown">
                                        <a style="font-size: 20px;" class="nav-link dropdown-toggle text-dark" asp-controller="Admin" asp-action="Index" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Administrator
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="User" asp-action="Index">Users</a></li>
                                            <li><a class="dropdown-item" asp-controller="Doctor" asp-action="Index">Doctors</a></li>
                                            <li><a class="dropdown-item" asp-controller="Department" asp-action="Index">Departments</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li>
                                                <a class="dropdown-item" asp-controller="Appointment" asp-action="Index">Appointments</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item btn ms-auto btn-mysuccess m-2">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Profile"><i class="fa-solid fa-user me-2"></i>@User.FindFirst("Username").Value</a>
                                    </li>
                                    <li class="nav-item btn btn-danger m-2">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a>
                                    </li>

                                }
                                else
                                {
                                    <li class="nav-item ms-auto btn btn-primary m-2">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Appointment" asp-action="Appointments">
                                            <i class="fa fa-share me-2" aria-hidden="true"></i>Appointments
                                            </a>
                                    </li>
                                    <li class="nav-item btn btn-success m-2">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Appointment" asp-action="MyAppointments">
                                            <i class="fa fa-tasks me-2" aria-hidden="true"></i>My Appointments
                                        </a>
                                    </li>

                                    <li class="nav-item btn btn-mysuccess m-2">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Profile">
                                            <i class="fa-solid fa-user me-2"></i>@User.FindFirst("Username").Value
                                        </a>
                                    </li>
                                    <li class="nav-item btn btn-danger m-2">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">
                                            <i class="fa-solid fa-right-from-bracket me-2"></i>Logout
                                        </a>
                                    </li>
                                }
                                
                            }
                            else
                            {
                                <li class="nav-item ms-auto btn btn-mysuccess m-2">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-right-to-bracket me-2"></i>Login</a>
                                </li>
                                <li class="nav-item btn btn-primary m-2">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register"><i class="fa-solid fa-user me-2"></i>Register</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

    }



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @{
        bool hideFooter = ViewData["HideFooter"] as bool? ?? false;
    }

    @if (!hideFooter)
    {

        <footer>
            <div style="bottom:0; width:100%;">
                <div class="container text-center">
                    2023 - Doctor Appointment System
                </div>
            </div>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery-3.6.0.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/slider.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
