<section class="section swiper-container swiper-slider swiper-slider-1 context-dark js-fullheight" data-loop="true" data-autoplay="5000" data-simulate-touch="false">
    <div class="swiper-wrapper">
        <div class="swiper-slide" data-slide-bg="images/slider2.jpg">
            <div class="swiper-slide-caption section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 mx-auto">
                            <h1>
                                <span style="color: lightseagreen;" class="d-block text-center" data-caption-animate="fadeInUp" data-caption-delay="100">
                                    DAS
                                </span>
                                <span style="color: #505050;" class="d-block text-center" data-caption-animate="fadeInUp" data-caption-delay="200">
                                    Doctor Appointment System
                                </span>
                            </h1>
                            <p style="color: #ffffff;" class="d-block text-center" data-caption-animate="fadeInUp" data-caption-delay="350">Doctor Appointment System Doctor Appointment System Doctor Appointment System</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="images/slider1.jpg">
            <div class="swiper-slide-caption section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 mx-auto">
                            <h1>
                                <span style="color: lightseagreen;" class="d-block text-center" data-caption-animate="fadeInUp" data-caption-delay="100">
                                    DAS
                                </span>
                                <span style="color: #505050;" class="d-block text-center" data-caption-animate="fadeInUp" data-caption-delay="200">
                                    Doctor Appointment System
                                </span>
                            </h1>
                            <p style="color: #ffffff" class="lead text-center" data-caption-animate="fadeInUp " data-caption-delay="350">Doctor Appointment System Doctor Appointment System Doctor Appointment System</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="images/slider2.jpg">
            <div class="swiper-slide-caption section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 mx-auto">
                            <h1>
                                <span style="color: lightseagreen;" class="d-block text-center" data-caption-animate="fadeInUp" data-caption-delay="100">
                                    DAS
                                </span>
                                <span style="color: #505050;" class="d-block text-center" data-caption-animate="fadeInUp" data-caption-delay="200">
                                    Doctor Appointment System
                                </span>
                            </h1>
                            <p style="color: #ffffff;" class="lead text-center" data-caption-animate="fadeInUp " data-caption-delay="350">Doctor Appointment System Doctor Appointment System Doctor Appointment System</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="images/slider1.jpg">
            <div class="swiper-slide-caption section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 mx-auto">
                            <h1>
                                <span style="color: lightseagreen;" class="d-block text-center" data-caption-animate="fadeInUp" data-caption-delay="100">
                                    DAS
                                </span>
                                <span style="color: #505050;" class="d-block text-center" data-caption-animate="fadeInUp" data-caption-delay="200">
                                    Doctor Appointment System
                                </span>
                            </h1>
                            <p style="color: #ffffff" class="lead text-center" data-caption-animate="fadeInUp " data-caption-delay="350">Doctor Appointment System Doctor Appointment System Doctor Appointment System</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-7 mx-auto">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
