@model CreateAppointmentModel
@{
	ViewData["Title"] = "Create Appointment";
}

<div class="row">
	<div class="col-4 offset-4">
		<h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
	</div>
</div>
