html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


.tableduzen{
    border-radius: 10px;
    background-color: #fff;
}

.navbar .dropdown-menu {
    min-width: 0px;
}

#overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 7100;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader {
    z-index: 7700;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-subscribe .btn:hover, .form-subscribe .btn:active, .form-subscribe .btn:focus {
    background-color: #4285f4 !important;
    border-color: #4285f4 !important;
    color: #fff;
}

.input-group-text {
    display: inline-block !important;
}

#loginbutton{
    padding:0px !important;
}


.btn-mysuccess {
    background-color: lightseagreen;
    color: #fff;
}


/** Contact **/
.bg-contact {
    background-color: #68c3cf;
    color: #fff;
}
.w-100 {
    width: 100% !important;
}

.nopad{
    padding: 0px 0px !important;
}

.info-wrap h3 {
    color: #fff;
}

.info-wrap .dbox {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 25px;
}

    .info-wrap .dbox p {
        margin-bottom: 0;
    }

        .info-wrap .dbox p span {
            font-weight: 500;
            color: #fff;
            
        }

        .info-wrap .dbox p a {
            color: #fff;
            text-decoration: none;
        }

    .info-wrap .dbox .text {
        width: calc(100% - 50px);
        margin-left: 5px;
    }
    .info-wrap .dbox .icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.2);
        line-height: 1;
    }

        .info-wrap .dbox .icon span {
            font-size: 20px;
            color: #fff;
        }




#loginbg {
    background-image: url("/images/slider2.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#registerbg {
    background-image: url("/images/slider2.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graybg {
    background-color: #E7E9EB;
}


.gohome {
    text-decoration: none;
    color: lightseagreen;
}