@charset "UTF-8";

.box-shadow {

	box-shadow: 3px 3px 13px 0 rgba(0, 0, 0, 0.07);

}

@media (min-width: 1200px) {
	.box-shadow {
		padding: 15px;
		box-shadow: 19px 19px 51px 0 rgba(0, 0, 0, 0.08);
	}
}

hr {
	margin-top: 0;
	margin-bottom: 0;
	border-top: 1px solid #dde1e4;
}


/** @group Plugins */
/** @section Animate */
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	opacity: 1;
}

.animated.infinite {
	animation-iteration-count: infinite;
}

.animated.hinge {
	animation-duration: 2s;
}

html:not(.lt-ie10) .not-animated {
	opacity: 0;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeIn {
	animation-name: fadeIn;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 80px, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.fadeInUp {
	animation-name: fadeInUp;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.fadeInDown {
	animation-name: fadeInDown;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.fadeInLeft {
	animation-name: fadeInLeft;
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.fadeInRight {
	animation-name: fadeInRight;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fadeOut {
	animation-name: fadeOut;
}

@keyframes slideInDown {
	0% {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.slideInDown {
	animation-name: slideInDown;
}

@keyframes slideInLeft {
	0% {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.slideInLeft {
	animation-name: slideInLeft;
}

@keyframes slideInRight {
	0% {
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.slideInRight {
	animation-name: slideInRight;
}

@keyframes slideOutDown {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		visibility: hidden;
		transform: translate3d(0, 100%, 0);
	}
}

.slideOutDown {
	animation-name: slideOutDown;
}




/** @section Swiper */
.swiper-container {
	display: flex;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%;
	/* Fix of Webkit flickering */
	z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
	float: left;
}

.swiper-container-vertical > .swiper-wrapper {
	flex-direction: column;
}

.swiper-wrapper {
	position: relative;
	z-index: 1;
	display: flex;
	align-self: stretch;
	align-items: stretch;
	width: 100%;
	height: auto;
	min-height: inherit;
	transition-property: transform;
	box-sizing: content-box;
}

.swiper-container {
	flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
	flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
	transition-timing-function: ease-out;
	margin: 0 auto;
}

/* a11y */
.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	touch-action: pan-y;
}

.swiper-wp8-vertical {
	touch-action: pan-x;
}

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
	/* Windows 8 IE 10 fix */
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
	transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
	pointer-events: none;
}

.swiper-container-fade .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-lazy-preloader {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
	z-index: 10;
	transform-origin: 50%;
	animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	background-position: 50%;
	background-size: 100%;
	background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@keyframes swiper-preloader-spin {
	100% {
		transform: rotate(360deg);
	}
}

.swiper-slide > .vide__body,
.swiper-slide > .parallax_cnt {
	height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: none;
	font-size: 60px;
	line-height: 1;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	transition: .2s ease-in;
	will-change: transform;
	z-index: 10;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
	.swiper-button-prev,
	.swiper-button-next {
		display: block;
	}
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	opacity: 0.35;
	cursor: auto;
	pointer-events: none;
}

.swiper-button-prev {
	left: 30px;
}

.swiper-button-prev:before {
	font-family: "FontAwesome";
	content: "\f104";
}

.swiper-button-next {
	right: 30px;
}

.swiper-button-next:before {
	font-family: "FontAwesome";
	content: "\f105";
}

.swiper-slider.swiper-container-rtl .swiper-button-prev::before {
	content: "\f061";
}

.swiper-slider.swiper-container-rtl .swiper-button-next::before {
	content: "\f060";
}

.swiper-pagination {
	position: absolute;
	display: block;
	text-align: center;
	transition: .3s;
	transform: translate3d(0, 0, 0);
	z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0;
}

.swiper-pagination .swiper-pagination-bullet {
	position: relative;
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 100%;
	background: #fff;
	transition: .2s;
}

.swiper-pagination .swiper-pagination-bullet:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 22px;
	height: 22px;
	border: 1px solid rgba(128, 128, 128, 1);
	border-radius: inherit;
	transition: .25s;
}

.swiper-pagination .swiper-pagination-bullet:after {
	display: none;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
}

.mobile .swiper-pagination .swiper-pagination-bullet:after,
.tablet .swiper-pagination .swiper-pagination-bullet:after {
	display: block;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before, .swiper-pagination .swiper-pagination-bullet:hover:before {
	transform: translate(-50%, -50%) scale(1);
}

.swiper-pagination.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}

.swiper-pagination-black .swiper-pagination-bullet {
	background: rgba(0, 0, 0, 0.6);
}

.swiper-pagination-black .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: black;

}

.swiper-container-vertical > .swiper-pagination {
	right: 10px;
	top: 50%;
	transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
	margin: 5px 0;
	display: block;
}

.swiper-container-horizontal .swiper-pagination {
	bottom: 20px;
	left: 0;
	width: 100%;
}

.swiper-container-horizontal .swiper-pagination .swiper-pagination-bullet {
	margin: 0 10px;
}

.swiper-slide {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	white-space: nowrap;
}

	.swiper-slide::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
	}

.swiper-slide-caption {
	width: 100%;
	white-space: normal;
}

.swiper-slider-1 {
	min-height: 36vw;
}

.swiper-slider-1 .swiper-pagination-wrap {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	height: 40px;
}

.swiper-slider-1 .swiper-pagination-wrap .swiper-pagination {
	position: static;
	text-align: center;
}

.swiper-slider-1 .swiper-pagination-wrap .swiper-pagination-bullet {
	margin: 0 10px;
}

.swiper-slider-1 .swiper-pagination-wrap .swiper-pagination-bullet:first-child {
	margin-left: 0;
}

@media (min-width: 992px) {
	.swiper-slider-1 .swiper-pagination-wrap {
		height: 70px;
	}
}

@media (min-width: 1600px) {
	.swiper-slider-1 .swiper-pagination-wrap {
		height: 17%;
	}
	.swiper-slider-1 * + .button {
		margin-top: 40px;
	}
	.swiper-slider-1 h1 + p {
		margin-top: 23px;
	}
}

@media (min-width: 992px) {
	.rd-navbar-transparent-wrap + .swiper-slider-1 .swiper-slide-caption {
		padding: 130px 0 100px;
	}
}

@media (min-width: 1600px) {
	.rd-navbar-transparent-wrap + .swiper-slider-1 .swiper-slide-caption {
		padding: 110px 0 100px;
	}
}

.swiper-slider-2 {
	min-height: 31.25vw;
}

.swiper-slider-2 .swiper-pagination-wrap {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	height: 40px;
}

.swiper-slider-2 .swiper-pagination-wrap .swiper-pagination {
	position: static;
	text-align: left;
}

.swiper-slider-3 {
	min-height: 45.3125vw;
}

.swiper-slider-3 .swiper-slide-caption {
	padding-bottom: 0;
}

.swiper-slider-3 .navigation-wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transform: translate(-50%, -50%);
}

.swiper-slider-3 .navigation-wrap .swiper-button-prev,
.swiper-slider-3 .navigation-wrap .swiper-button-next {
	pointer-events: auto;
	transform: none;
}

@media (min-width: 768px) {
	.swiper-slider-3 .swiper-slide-caption {
		padding-bottom: 50px;
	}
	.swiper-slider-3 .swiper-button-prev,
	.swiper-slider-3 .swiper-button-next {
		top: calc(50% - 60px);
	}
}

@media (min-width: 992px) {
	.swiper-slider-3 .swiper-slide-caption {
		padding-bottom: 100px;
	}
	.swiper-slider-3 .swiper-button-prev,
	.swiper-slider-3 .swiper-button-next {
		top: calc(50% - 80px);
	}
}

@media (min-width: 1600px) {
	.swiper-slider-3 .swiper-slide-caption {
		padding-bottom: 91px;
	}
	.swiper-slider-3 .swiper-button-prev,
	.swiper-slider-3 .swiper-button-next {
		top: calc(50% - 110px);
	}
}
